.product {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    background-color: #fff;
    margin: 10px;
    padding: 25px;
    z-index: 1;
    position: relative;
}

.product > img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product_info {
    height: 100px;
    margin: 0px auto 15px;
    width: 80%;
}

.product_title {
    color: #00008b;
}
.product_title:hover {
    color:#00008b;
    text-decoration: underline;
}

.product_rating {
    display: flex;
}

.product_ratingStar {
    color: #ffd700;
}

.product > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    width: fit-content;
    margin: auto;
    padding: 4px 8px;
    border-radius: 3px;
}

.product > button:disabled {
    background-color: #d3d3d3;
}